*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Manter o APK de release/debug na pasta outputs
!app/build/outputs/apk/debug/app-debug.apk
